@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="middle-box text-center">
    <h1 class="logo-name">Welcome</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required autofocus/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required/>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary full-width" value="Login" id="btnLogin"/>
    </div>
</div>
